<footer>
  <div className="ics-container">
    <p className="ics-p">React blog demo by:</p>
    <a class="icsLink" href="https://iceeqsolutions.fi" target="_blank">
      <img
        src="/iCeeqSolutionsLogo.png"
        alt="Company logo"
        className="icsLogo"
      />
    </a>
  </div>
</footer>
