<footer>
  <div class="footnoteContainer">
    <div class="ics-container">
      <p class="ics-p">Node blog demo by:</p>
      <a class="icsLink" href="https://iceeqsolutions.fi" target="_blank">
        <img src="/iCeeqSolutionsLogo.png" alt="Company logo" class="icsLogo" />
      </a>
    </div>
  </div>
</footer>
