<nav class="navbar">
  <div class="navTop">
    <img class="navLogo" src="/bannerLogoVintage.png" />
    <h1>Samuel L. Blogson</h1>
  </div>
  <div class="links">
    <ul>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">Add Blog</a></li>
    </ul>
  </div>
</nav>
