<nav class="navbar">
  <div class="navTop">
    <h1>Samuel L. Blogson</h1>
    <div class="samContainer">
      <img class="samL" src="/samL.png" />
      <div class="samWords">
        <h2>My famous-ass movie quotes...</h2>
        <h4>I dare you to add something - I double dare you...</h4>
      </div>
    </div>
  </div>
  <div class="links">
    <ul>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/blogs/create">Add Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
