<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="contentContainer">
      <%- include("./partials/nav.ejs") %>
      <div class="about content">
        <div class="aboutUs">
          <div class="aboutUsTextContent">
            <div class="aboutUsText">
              <h2>About</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                necessitatibus consequuntur tempore similique mollitia.
                Voluptate cum harum aliquid laboriosam asperiores est
                perspiciatis? Vero debitis atque nemo perspiciatis modi
                veritatis! Porro natus fugiat quaerat, debitis unde repellendus
                eius possimus vero eveniet?
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
                quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo
                consectetur recusandae excepturi natus impedit rem, tempora cum
                fuga quae in.
              </p>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Corrupti rerum accusantium dolores eligendi voluptas ipsa modi
                temporibus earum dignissimos eos est vel iusto a similique
                doloremque pariatur esse animi deleniti ratione, necessitatibus
                quisquam. Tempore quas obcaecati recusandae? Cupiditate,
                exercitationem facilis molestiae dicta nihil, eius, ipsa magnam
                voluptate reprehenderit omnis minus.
              </p>
              <img class="movieImg" src="/movieImages.png" />
            </div>
          </div>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
