<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="contentContainer">
      <%- include("./partials/nav.ejs") %>
      <div class="about content">
        <div class="aboutUs">
          <div class="aboutUsTextContent">
            <div class="aboutUsText">
              <h2>About Us</h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
                quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo
                consectetur recusandae excepturi natus impedit rem, tempora cum
                fuga quae in.
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
                quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo
                consectetur recusandae excepturi natus impedit rem, tempora cum
                fuga quae in.
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
                quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo
                consectetur recusandae excepturi natus impedit rem, tempora cum
                fuga quae in.
              </p>
            </div>
          </div>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
