<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="contentContainer">
      <%- include("./partials/nav.ejs") %>
      <div class="blogTemplate">
        <h2>Add a New Blog</h2>
        <form action="/blogs" method="POST">
          <label for="title">Blog title:</label>
          <input type="text" id="title" name="title" required />
          <label for="author">Author:</label>
          <input type="text" id="author" name="author" required />
          <label for="blogText">Blog text:</label>
          <textarea id="blogText" name="blogText" required></textarea>
          <button>Add Blog</button>
        </form>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
