@font-face {
  font-family: "WesternCowboys";
  src: url("/WesternCowboys.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LemonTuesday";
  src: url("/LemonTuesday.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DarlothesGrunge";
  src: url("/DarlothesGrunge.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  text-align: center;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home,
.aboutUs {
  padding: 30px 0;
}

.contentContainer {
  max-width: 100vw;
  width: 100%;
}

h1 {
  font-family: "WesternCowboys";
  z-index: 2;
  margin-left: 5vw;
  font-size: 5em;
  color: darkmagenta;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
}

h2 {
  padding: 30px 0;
}

a > h2 {
  padding: 20px 0 0 0;
}

p,
form > label {
  color: #fff;
}

a {
  font-weight: 700;
  color: #fff;
  text-decoration: inherit;
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 350px;
  align-items: center;
  justify-content: space-between;
  background-image: url("/steelBallBkg.jpg");
  background-repeat: repeat;
  background-size: 10px;
  margin: 10px 0 30px;
  border-top: 5px solid #ddd;
  border-bottom: 5px solid #bbb;
}

.navTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.samContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100px;
  font-family: "LemonTuesday";
  margin-top: 20px;
}

.samWords {
  display: flex;
  flex-direction: column;
}

.samWords h2,
.samWords h4 {
  text-shadow: 2px 2px 3px rgba(145, 8, 163, 0.9);
  padding: 5px 0 5px 20px;
}

.samL {
  height: 100px;
}

li {
  list-style-type: disc;
  font-size: 0.8em;
}

.links {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}

.links ul {
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-self: center;
  width: 300px;
}

.links a {
  font-family: "WesternCowboys";
  font-size: 28px;
  color: orange;
}

.links a:hover {
  color: #535bf2;
}

.blogList,
.aboutUsTextContent,
.blogTemplate {
  width: 80vw;
  max-width: 800px;
  margin: 370px auto 50px;
  border-radius: 20px;
  background-color: rgba(86, 86, 86, 0.7);
  box-shadow: 1px 1px 10px rgba(200, 12, 200, 0.7);
}

.movieImg {
  width: 90%;
  max-width: 600px;
}

.blogTemplate,
form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  max-width: 600px;
}

form > input {
  height: 2em;
  width: 300px;
  max-width: 100%;
  margin: 10px auto 20px;
  padding: 5px 10px;
}

form > textarea {
  height: 250px;
  width: 560px;
  max-width: 100%;
  margin: 10px auto 30px;
  padding: 5px 10px;
}

form > button {
  border-radius: 8px;
  padding: 5px;
  max-width: 150px;
  margin: 20px auto 50px;
  box-shadow: 1px 1px 10px rgba(200, 12, 200, 0.7);
}

form > button:hover {
  color: #fff;
  background-color: darkmagenta;
}

.blogPreview,
.aboutUsText {
  width: 100%;
  padding: 30px 0;
}
.blogPreview {
  padding: 10px 5px;
}

.blogPreview h2,
.aboutUsText h2,
.blogTemplate h2 {
  font-family: "DarlothesGrunge";
  color: #fff;
}

.blogPreview > a > h2,
.aboutUsText > h2 {
  padding-top: 20px;
}

.blogPreview > p {
  padding: 5px 20px;
}

.aboutUsText > p {
  text-align: start;
  padding: 20px;
}

.blogPreview p:last-of-type,
.aboutUsText p:last-of-type {
  padding: 15px 20px 40px 20px;
}

.selectedBlog:hover {
  background-color: rgba(108, 0, 216, 0.9);
}

.selectedBlog {
  background-color: rgba(66, 65, 65, 0.9);
  box-shadow: 0px 2px 10px #fff;
  border-radius: 20px;
  margin: 25px 8px;
}

.deleteContainer {
  height: 50px;
  margin-bottom: 20px;
}

.delete {
  padding: 5px 10px;
  color: darkmagenta;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(105, 34, 34);
  margin: 0 10px;
}

.goBack {
  padding: 5px 10px;
  color: #535bf2;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(15, 10, 176);
  margin: 0 10px;
}

.delete:hover {
  color: #fff;
  background-color: red;
  box-shadow: 1px 1px 20px red;
  cursor: pointer;
}

.goBack:hover {
  color: darkmagenta;
  box-shadow: 1px 1px 20px darkmagenta;
  cursor: pointer;
}

.ics-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(86, 86, 86, 0.9);
  border-radius: 7px;
  padding: 5px 5px 0 10px;
}

a > img.icsLogo {
  height: 25px;
}

.ics-p {
  font-style: italic;
  align-self: self-start;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4em;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 3.5em;
  }
}
